.title{
    text-align: center;
    font-weight: bold;
    font-family: 'Permanent Marker', cursive;
    font-size: xx-large;
    margin-top: 40px;
    
}
.productName{
    padding-top: 6px;
    color: #2a2a72 !important;
}

