.card{
    border-color:transparent;
    transition: all 2s linear;
    overflow:hidden;
}
.card-footer{
    background: transparent;
    border: transparent;
    transition: all 2s linear;
}
.card:hover{
    border: .04rem solid rgba(0,0,0,0.2);
    box-shadow: 2px 2px 7px 0px rgba(0,0,0,0.2);
}
.card-footer:hover{
    background: rgba(247,247,247);
}



.img-container{
    position: relative;
    /* overflow: hidden; */
    
}

.img-container:hover .card-img-top {
    transform:scale(1.2);
    overflow: hidden;
}


.card-img-top{
    transition: all 1s linear;
}


.cart-btn{
    position: absolute;
    bottom:0;
    right: 0;
    padding: 0.2rem 0.4rem;
    background: #009ffd;
    border:none;
    
    color:white;
    font-size: 1.7rem;
    border-radius: 0.5rem 0 0 0;
    /* transform: translate(100%,100%); */
    
    }

/* .img-container:hover .cart-btn {
    transform:translate(0,0); 
} */

.cart-btn:hover{
     color:#2a2a72;
     cursor: pointer;
}




